# config vairables that need to create to run application

# Main database
CONFIG__MAIN_PG_DB__DB_USER="<your db user name>"
CONFIG__MAIN_PG_DB__DB_PASSWORD="<your db user password"
CONFIG__MAIN_PG_DB__DB_HOST="<your db host>"
CONFIG__MAIN_PG_DB__DB_PORT="<your db port>"
CONFIG__MAIN_PG_DB__DB_NAME="<your db name>"
